header {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    align-items: center;
}

header>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fechaActual h1 {
    font-size: 4em;
}

header>div:first-child p {
    font-size: 1em;
}

.fechaActual {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
}

.mesAño {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: .25em;
}