.ToDoList {
    display: flex;
    margin: 1em 0;
}

.ToDoList ul {
    display: flex;
    flex-direction: column;
    gap: .5em;

    margin: 0;
    padding: 0;

    list-style: none;
}

.ToDoList ul li {
    display: flex;
    flex-direction: row;
}

.ToDoList ul li h2,
.ToDoList ul li i {
    font-size: 1.5em;
}

.ToDoList ul li i {
    margin-left: auto;
}

.ToDoList ul li h2 {
    max-width: 80%;
}

.ToDoList,
.ToDoList ul {
    width: 100%;
}