.ToDoList {
    display: flex;
}

.ToDoList ul {
    display: flex;
    flex-direction: column;

    gap: 1.5em;
    margin: 0;
    padding: 0;

    list-style: none;
}

.ToDoList ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ToDoList ul li h2 {
    font-size: 1.5em;
}

.ToDoList ul li i {
    font-size: 2em;
}

.ToDoList ul li i {
    margin-left: auto;
}

.ToDoList ul li h2 {
    font-weight: lighter;
    max-width: 80%;
}

.ToDoList,
.ToDoList ul {
    width: 100%;
}