* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;

  max-width: 375px;
  min-height: 100vh;
  margin: auto;
  padding: 3.5em 2em;

  color: #44464e;
  background-color: #fefefe;
  border: #f3f3f3 solid 1px;
}